<%- include('partials/header') %>
<body>
    <div class="compose-message-container">
        <h2>Compose New Message</h2>
<!-- if the user did not found in db -->
        <% if (typeof error !== 'undefined') { %>
            <div class="error-message">
                <p><%= error %></p>
            </div>
        <% } %>

        <form action="/tenant-dashboard/mailbox/send" method="POST">
            <label for="receiver_id">To (Email):</label>
            <input type="email" id="receiver_email" name="receiver_email" required>

            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required>

            <label for="message_content">Message:</label>
            <textarea id="message_content" name="message_content" rows="5" required></textarea>

            <button type="submit">Send Message</button>
        </form>
    </div>

    <footer>
        <p>&copy; 2024 Property Management Services</p>
    </footer>
</body>
</html>