<%- include('partials/header') %>
<body>
    <div class="landlord-page">
        
        <img src="/images/logo-png.jpg" alt="YQR Residencies Logo" class="logo">
        <h1>Landlord Login</h1>
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Login">
            <a href="/" class="back-home">Back to Home</a>
            <a href="/landlord-forgotpassword" class="forgot-password">Forgot Password</a>
        </form>
        
        
    </div>
</body>
</html>
