<%- include('partials/header') %>
<body>
    <div class="resident-page">
        <img src="/images/logo-png.jpg" alt="YQR Residencies Logo" class="logo">
        <h1>Forgot Password?</h1>
        <h2>Enter your email address and click reset password</h2>
        <form action="resident-resetpassword.html" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
            <button type="submit">Reset Password</button>
            <a href="/resident-login" class="back-home">Back to Login</a>
            <a href="/" class="back-home">Back to Home</a>
        </form>
    </div>

    <footer>
        <p>&copy; 2024 Property Management Services</p>
    </footer>
</body>
</html>
