
<%- include('partials/header') %>
<body>
    <div class="resident-page">
        <img src="/images/logo-png.jpg" alt="YQR Residencies Logo" class="logo">
        
        <h1>Log in</h1>
        <a class="btn btn-google" href="/auth/google" role="button" aria-label="Sign in with Google">
            <i class="fab fa-google"></i> Sign In with Google
        </a>
        <a href="/" class="back-home">Back to Home</a>

        <!-- Google Sign-In Button -->
        
    </div>

     <footer>
        <p>&copy; 2024 Property Management Services</p>
    </footer>
</body>
</html>
