<%- include('partials/header') %>

<body>
    <!-- Header Section -->
    <header>
        <div class="container">
            <img src="/images/logo-png.jpg" alt="YQR Residencies Logo" class="logo">
            <tr><h1>Hello, </h1></tr>
            <br>


            <div class="login-options">
                <nav>
                    <ul>
                        <li><a href="#resident-myprofile">My profile</a></li>
                    </ul>
                </nav>
                <div class="login-options">
                    <button><a href="index.html">Log out</a></button>
                </div></div>


        </div>
        
        
    </header>


    <div class="resident-afterlogin">
        <h1 class="tab-content">My dashboard under construction</h1> 
    </div>

    <footer>
        <p>&copy; 2024 Property Management Services</p>
    </footer>

</body>
</html>
